<form>
    <div class="input-group">
        <label for="oldPassword">Old Password: </label>
        <input type="password" name="oldPassword" id="oldPassword" class="form-control">
    </div>
    <div class="input-group">
        <label for="newPassword">New Password: </label>
        <input type="password" name="newPassword" id="newPassword" ng-model="newPassword" class="form-control">
    </div>
    <div class="input-group">
        <label for="repeatPassword">Repeat Password: </label>
        <input type="password" name="repeatPassword" class="form-control">
    </div>
    <button class="btn btn-default" ng-click="newPassword(newPassword)">OK</button>
</form>